@font-face {
  font-family: 'Headliner';
  src: url('./assets/fonts/headliner.TTF') ;
}

@font-face {
  font-family: 'Industry';
  src: url('./assets/fonts/industry.TTF') ;
}



h1{
  font-weight: 100;
  font-family: 'Headliner';
  font-size: 3.5em;
  margin: 0;
}

.loader{
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: scroll;

  &-nav{
    width:100%;
    height:10vh;
    background-image: url('./assets/images/navbar.png');
    display: flex;
    flex-direction: row;
    font-family:'Industry';
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: top 0.3s;

    &-logo {
      height:100%;
      width:15%
    }
  
    &-menu{
      width: 85%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
    a{
      padding: 5% 3%;
      text-decoration: none;
      color: #0c3b84;
    }
  }

  .home{
    height:100vh;
    width:100%;

    &-banner{
      height: 100%;
      width: 100%;
      background-image: url('./assets/images/banner.png');
      background-size: 100% 100%;
      display: flex;
      flex-direction: row;
      position: relative;

      &-logo_container{
        width:30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-logo{
        width:70%;
        height:30%;
      }

      &-middle_section{
        width:40%;
        height:100%;
      }
      &-character_container{
        width:100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
      }
      
      &-character{
        width:100%;
        height:90%;
      }

      &-intro_container{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center ;
        text-align: left;
      }

      &-intro_header{
        color: white;
        width: 50%;
      }

      &-intro_text{
        color: white;
        font-size: 1em;
        margin:0;
        width: 80%;
      }
    }

  }
  
  .about{
    width:100%;
    height:100vh;
    background-image: url('./assets/images/tournament.png');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    &-header{
      color:#042e6f;
      padding-bottom: 4%;
    }

    &-mini_header{
      padding:1% 4%;
      color: #042e6f;
    }

    &-infolist{
      padding: 1% 1% 0 1%;

      li{
        padding:0.2% 2% 0 2%;
        margin:0 6%;
        color:#042e6f;

        h3{
          font-size: 1em;
        }
      }
    }
  }

  .register{
    width:100%;
    height:100vh;
    background-image: url('./assets/images/registration.png');
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    position: relative;

    &-image_container{
      width:40%;
      height:100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
    }

    &-image{
      width:50%;
      height:90%;

      
    }
    &-image:nth-of-type(1){
      z-index: 2;
    }

    &-image:nth-of-type(2){
      z-index: 1;
      transform: translateX(-90px);
    }

    &-form_container{
      width:57%;
      height:100%;
      // padding-top: 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h1{
        color: white;
        height:5%;
        margin:4% 0 3% 0;
      }
    }
    &-form{
      height:80%;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: left;
      &>*{
        height: 11%;
      }
      p{
        margin: 0;
      }
      .textfield{
        background-color: #032E6F;
        // height:20px;
        width:67%;
        border:0;
        border-bottom: 1px solid #517fc6;
        color:white;
        font-family: 'Industry';
        font-size: 24px;
        padding-bottom:1.5%;
        margin:1.5% 2% 5% 0;
        &::placeholder{
          color:#517fc6
        }
        &:nth-child(1){
          width:43%;
        }
        &:focus{
          outline: none;
        }
        
       
      }
      &-inputrow{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        .custom-file-input::-webkit-file-upload-button {
          visibility: hidden;
          height:100%;
          width: 100%;
        }
        
      }
      #facade{
        padding:0% 4% 0 4%;
        height: 60%;
      }
      &-button{
        margin:0 0 4% 2%;
        padding:1.5% 4%;
        background-color: #0c3b84;
        border-radius: 0;
        border:0;
        width:20%;
        font-family: 'Industry';
        color:#517fc6;
        font-size: 0.7em;
        text-align: center;
        position: relative;
        input[type="file"]{
          width: 100%;
          height: 100%;
          position: absolute;
          top:0;
          right:0;
          left:0;
          bottom:0
        }
        .custom-file-input::before {
          display: inline-block;
          background: #0c3b84;
          padding:4% 15%;
          color:#517fc6;
          outline: none;
          white-space: nowrap;
          -webkit-user-select: none;
          cursor: pointer;
          font-family: 'Industry';
          font-size:1em;
        }
        .custom-file-input:focus {
          outline: none;
        }
        

        &:nth-of-type(1){
          margin-left: 0;
        }
      }
      
      .textfield:active{
        border:0;
      }

      .container {
        display: block;
        position: relative;
        padding-left: 5%;
        // margin-bottom: 12px;
        cursor: pointer;
        font-size: 1.2em;
        font-family: 'Industry';
        color: #517fc6;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      /* Hide the browser's default checkbox */
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: #fff;
      }
      
      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      
      /* When the checkbox is checked, add a blue background */
      .container input:checked ~ .checkmark {
        background-color: #22BEEF;
      }
      
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the checkmark when checked */
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      

      #submit{
        background-color: white;
        color: #042e6f;
        height:7%;
        margin-top: 2%;
        width:25%;
      }
    }

    .footer{
      position: absolute;
      top: 92.2%;
      left: 0;
      right: 0;
      width: 100%;
      height: 30vh;

      &-img{
        width:100%;
        height: 100%;

      }
    }
  }
  
}




@media only screen and (min-width:320px) and (max-width:780px) {
  html{
    font-size: 3vw;
  }
  .app{
    &-nav{
      background-image: url('./assets/images/navbar_mobile.png');
      width:100%;
      height:10vh;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      &-logo{
        width:60%;
        height:100%;
      }
      button{
        background: initial;
        border:0;
        width:40%;
        height:100%;
        display: flex;
        justify-content: flex-end;
        &:focus{
          outline: none;
        }
      }
      &-menu{
        width: 15%;
        height:50%;
        padding: 5%;

        &-dropdown{
          background-color: #C5CDD9;
          position: absolute;
          top:10vh;
          width: 30%;
          right:0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          a{
            border-bottom: solid 0.5px white;
            height: 33%;
            color: #0c3b84;
          }
        }

        &-triangle{
          position: absolute;
          top:9vh;
          right:20px;
          width: 0; 
          height: 0; 
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #042e6f;
        }
      }
    }
    .home{
      height:100vh;
      width:100%;
  
      &-banner{
        background-image: url('./assets/images/banner_mobile.png');
        flex-direction: column;

        &-middle_section{
          width:100%;
          height:70%;
        }
        &-character_container{
          z-index: 1;
        }
        
        &-character{
          width:100%;
          height:80%;
          z-index: 1;
        }

        &-logo_container{
          width:100%;
          height:20%;
          z-index: 2;
        }
        &-logo{
          width: 50%;
          height:100%
        }

        &-intro_container{
          width: 100%;
          height: 30%;
          justify-content: center;
          align-items: center ;
          text-align: center;
          z-index: 3;
        }
  
        &-intro_text{
          font-size: 0.9em;
        }
      }
      
    }
    .about{
      background-image: url('./assets/images/tournament_mobile.png');
  
      &-header{
        padding-bottom: 0;
        padding-top: 15%;
        text-align: center;
        height:10%;
        font-size: 3.2em;
      }
  
      &-mini_header{
        height:10%;
        font-size: 1em;
      }
  
      &-infolist{
        padding: 0 4%;
        height: 80%;
        li{
          padding:0.2% 4% 0 4%;
        }
      }
    }
    .register{
      background-image: url('./assets/images/registration_mobile.png');
      
      &-image_container{
        width:38%;
        z-index: 1;
      }
  
      &-image{
        width:100%;
        height:90%;
      }
      &-image:nth-of-type(1){
        z-index: 2;
      }
  
      &-image:nth-of-type(2){
        z-index: 1;
        transform: translateX(-90px);
      }
  
      &-form_container{
        width:62%;
        padding-left: 5%;
        padding-top: 4%;
        height: 90%;
        justify-content: flex-end;
        z-index: 1;
        h1{
          margin:4% 0 10% 0;
        }
      }
      &-form{
        &>*{
          height:7%;
        }
        label{
          height: 11%;
        }
        
        &>button{
          height: 11%;
        }

        .textfield{
          width:80%;
          font-size: 1em;
          padding-top: 10px;
          margin-bottom: 0;

          &::placeholder{
            color:#517fc6;
            padding-top: 5px;
          }
          &:nth-child(1){
            width:61%;
            height: 70%;
          }
          &:focus{
            outline: none;
          }
          
         
        }
        &-inputrow{
          width:100%;
          align-items: flex-end;

         &:nth-child(1){
           margin-bottom: 5%;
         }
        }
        #facade{
          // padding:2% 4% 0 4%;
          height: 90%;
        }
        &-button{
          margin:0% 0 0% 2%;
          width:30%;
  
          &:nth-of-type(1){
            margin-left: 0;
            width:30%;
          }
        }
        
        .container {
          display: flex;
          align-items: center;
          padding-left: 8%;
          font-size: 1em;
        }
        
        .checkmark {
          top: 40%;
          height: 20%;
          width: 5%;
        }
      }
  
      .footer{
        top:88%;
        z-index: 2;
       
      }
    }
  }

}
